*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color:azure;
    font-size: 20px;
    overflow: hidden !important;
    position: sticky!important; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
      top: 0;
      z-index: 1;
      transition: all 0.5s ease-in-out;
  }
  
  .logo{
    margin-left: 4%;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: crimson;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .logo_header{
    display: flex;
    margin-left: 4%;
  }
  
  .main_nav{
    display: flex;
    width: 55%;
    float: right;
    margin-right: 4%;
    justify-content: space-between;
    list-style: none;
    
  }
  .main_nav li a:hover{
    color:red;
  }
  
  .main_nav li{
    display: inline;
    color: #ffffff;
  }
  .main_nav li a{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .navbar_toggle {
    display:none;
  }
  strong{
  font-size: xx-large;
  }
  .banner_row{
    width: 100% !important;
    display: flex !important;
    align-items: center ;
  justify-content: center  !important;
  flex-direction: row;
  overflow: hidden;
    
  }
  button{
    border: none;
    background-color: red;
    color: antiquewhite;
    font-weight: 800;
    border-radius: 20px;
    padding: 5%;
    padding-left: 25px;
    padding-right: 25px;
  }
  button:hover{
  
    background-color: burlywood;
      }
  .banner-col{
    flex-basis: 45%;
  }
  .banner-col1{
   margin-top:  5px;
    flex-basis: 55%;
padding-right: 10%;
padding-left: 5%;
}
.banner-col1 p{
    padding-top: 25px;
}
  img{
    width: 120%;
    height: 120%;
    overflow: hidden;
  }
  .active{
    color: gold!important;
  }
  .sticky{
    position: sticky;
    top: 0;
    width: 100%;
  }
.container {
    background-color: rgb(192, 192, 192);
    width: 100%;
    height: 10px;
   border-radius: 15px;

}
.aim{
    padding-top: 50px;
  
}
h4{
    padding-bottom: 20px;
    font-weight: 900;
    font-size: large;
    font: 900;
    padding-top: 10px;
}
.skill {
    background-color: rgb(250, 33, 51);
    color: white;

    text-align: center;
    font-weight: 800;
    font-size: 12px;
        border-radius: 15px;

}

.html {
    width: 85%;
    height: 10px;

}

.php {
    width: 88%;
    height: 10px;
}
.css{
    width: 94%;
    height: 10px;
}
footer{
  margin-top: 4%;

  padding-bottom: -5px;
  justify-content: center;
  margin-left: -105px;
 padding-top: 20px;
  text-align: center;
  overflow: hidden;
 
}
.hru{
     color:rgb(255, 6, 6);
     font-size: smaller;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  @media(max-width:600px){
    .banner_row{
      flex-direction: column !important;
      overflow: hidden !important;
    }
  }
  
  @media only screen and (max-width : 992px){
  
  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color:aquamarine;
    font-size: 20px;
    position:sticky;
      top: 0;
      z-index: 1;
      transition: all 0.5s ease-in-out;
    
  }
  
  .main_nav{
    display: none;
  }
  
  .show_nav{
   padding-top: 2%;
    display: flex;
   width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .main_nav li{
    width: 100%;
    height: 50px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    padding: 0%;
  }
  .navbar_toggle {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: #ffffff;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: block;
  }
  .logo_header{
    width: 100%;
    justify-content: space-between;
    margin-right: 2%;
  }
    .banner-col1 img{
      position: relative;
      left: 3%;
    }
    .sticky{
      position: fixed;
      top: 0;
      width: 100%;
    }
    .banner-col img{
        padding-right: 50px;
    
    }
    .banner-col1 h1{
text-align: center;
    }
    button{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    footer{
    
      justify-content: center;
      margin-left: -5px;
    
     margin-top: 30%;
      text-align: center;
      overflow: hidden;
    }
  } 