*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  background-image: linear-gradient(rgba(180, 177, 177, 0.5),rgba(192, 187, 187, 0.5)), url('blue-colored-continents-background-on-white-background-wallpaper-2560x1080_14.jpg');
background-repeat: repeat-x;
background-size: cover;
background-attachment: fixed;
position: relative;
background-position:bottom;
height: 100%;
}

a{
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color:azure;
  font-size: 20px;
  overflow: hidden !important;
  position: sticky!important; 
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
    top: 0;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.logo{
  margin-left: 4%;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  color: crimson;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo_header{
  display: flex;
  margin-left: 4%;
}

.main_nav{
  display: flex;
  width: 55%;
  float: right;
  margin-right: 4%;
  justify-content: space-between;
  list-style: none;
  
}
.main_nav li a:hover{
  color:red;
}

.main_nav li{
  display: inline;
  color: #ffffff;
}
.main_nav li a{
  color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar_toggle {
  display:none;
}
strong{
font-size: xx-large;
}
.banner_row{
  width: 100% !important;
  display: flex !important;
  align-items: center ;
justify-content: center  !important;
flex-direction: row;
overflow: hidden;
  
}
button{
  border: none;
  background-color: red;
  color: antiquewhite;
  font-weight: 800;
  border-radius: 20px;
  padding: 5%;
  padding-left: 25px;
  padding-right: 25px;
}
button:hover{

  background-color: burlywood;
    }
.banner-col{
  flex-basis: 50%;
}
.banner-col h3,p{
  position: relative;
  left: 25% !important;
  padding-right: 25%;
  
}
.banner-col1{
  flex-basis: 50%;
}
img{
  width: 90%;
  margin: 5px;
  overflow: hidden;
}
.active{
  color: gold!important;
}
.sticky{
  position: sticky;
  top: 0;
  width: 100%;
}
footer{
  margin-top: 6%;
  margin-bottom: -5px;
  padding-bottom: -5px;
  justify-content: center;
  margin-left: -85px;
 
  text-align: center;
  overflow: hidden;
}
.hru{
  color:rgb(247, 245, 241);
  font-size: smaller;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media(max-width:600px){
  .banner_row{
    flex-direction: column !important;
    overflow: hidden !important;
  }
  .banner-col h3{
    padding: 20px;
    position: relative;
    left:2% !important;
  }
  .banner-col1 img{
    overflow: hidden !important;
    width:90% !important;
  }
}

@media only screen and (max-width : 992px){

.navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color:aquamarine;
  font-size: 20px;
  position:sticky;
    top: 0;
    z-index: 1;
    transition: all 0.5s ease-in-out;
  
}

.main_nav{
  display: none;
}

.show_nav{
 padding-top: 2%;
  display: flex;
 width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
}

.main_nav li{
  width: 100%;
  height: 50px;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  padding: 0%;
}
.navbar_toggle {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  color: #ffffff;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  display: block;
}
.logo_header{
  width: 100%;
  justify-content: space-between;
  margin-right: 2%;
}
strong{
  font-size: xx-large;
  }
  .banner-col h3,p{
    position: relative;
    left: 11% !important;
    padding-right: 15%;
    
  }
  .banner-col1 img{
    position: relative;
    left: 3%;
  }
  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .nav_links button{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer{
    
    justify-content: center;
    margin-left: -15px;
   margin-bottom: -10%;
   margin-top: 30%;
    text-align: center;
    overflow: hidden;
  }
} 